.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  border-style:hidden;
  position: relative;
  top: 150px;
  width: 500px;
  height: 360px;
  overflow: hidden;
  display: block;
  /*change the src of picture below*/
  cursor:url("https://raw.githubusercontent.com/yijingshi/gong/gh-pages/images/mallet.png"), pointer;

}

p{
  font-family: sans-serif;
  font-size: 30px;
  display: block;
  position: absolute;
  left: 150px;
}
